:root{
    --header-height:3rem;
    --first-color:#0652DD;
    --first-color-alt:#50bfc3;
    --title-color:#393939;
    --text-color:#707070;
    --text-color-light:#a6a6a6;
    --body-color:#fbfefd;
    --container-color:white;



    --body-font: 'Poppins',sans-serif;
    --biggest-font-size:2.25rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;


    --font-medium:500;
    --font-semi-bold:600;

    --mb-1:.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
    --mb-6:3rem;


    --z-tooltip:10;
    --z-fixed:100;
}
@media screen and (min-width:768px){
:root{
    --biggest-font-size:4rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:.875rem;
    --smaller-font-size:.813rem;
}
}

*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,h3,p,ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}


.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
    text-align: center;
}
.section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}
.section-subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
.bd-container{
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.bd-grid{
    display: grid;
    gap: 1.5rem;
}
    
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.change-theme{
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}
body.dark-theme{
    --title-color:#f1f3f2;
    --text-color:#c7d1cc;
    
    --body-color:#1d2521;
    --container-color:#27302c;
}
@media  screen and (max-width:768px){
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0rem 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav_items{
    margin-bottom: var(--mb-2);
}
.nav_link, .nav_logo, .nav_toggle{
    color: var(--text-color);
    font-weight: var(--font-medium);
}
.nav_logo:hover,.nav_link:hover{
    color: var(--first-color);
}
.nav_link{
    transition: .3s;
}
.nav_toggle{
    font-size: 1.3rem;
}
.showmenu{
    top:var(--header-height)
}
.scroll-header{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: var(--first-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}
.scrolltop:hover{
    background-color: var(--first-color);
}
.scrolltop-icon{
    font-size: 1.8rem;
    color: var(--body-color);
}
.scroll-top{
    visibility: visible;
    bottom: 1rem;
}
.home-container{
    height: calc(100vh - --header-height);
    align-content: center;
}
.home-title{
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}
.home-subtitle{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}
.home-img{
    width: 300px;
    justify-self: center;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: white;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--first-color-alt);
}
.about-data{
    text-align: center;
}
.about-description{
    margin-bottom: var(--mb-3);
}
.about-img{
    width: 280px;
    justify-self: center;
    
}
.services-img{
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}
.services-container{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .services-content{
    text-align: center;
  }
.app-data{
    text-align: center;
}
.app-description{
    margin-bottom: var(--mb-5);
}
.app-stores{
    margin-bottom: var(--mb-4);
}
.app-store{
    width: 120px;
    margin: 0 var(--mb-1);
}
.app1{
    height: 42px;
}
.contact-container{
    text-align: center;
}
.contact-description{
    margin-bottom: var(--mb-3);
}
.footer-container{
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    row-gap: 2rem;
}
.footer-logo{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}
.footer-description{
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
}
.footer-social{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
}
.footer-title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
}
.footer-link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}
.footer-link:hover{
    color: var(--first-color);
}
.footer-copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-top: 3.5rem;
}
@media screen and (min-width:576px){
    .home-container,.about-container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .about-data,.about-initial{
        text-align: initial;
    }
    .contact-container{
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }
    .contact-button{
        justify-self: center;
    }
}
@media screen and (min-width:770px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 8rem;
    }
    .nav{
        height: calc(var(--header-height) +1.5);
    }
    .nav_list{
        display: flex;
    }
    .nav_items{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav_toggle{
        display: none;
    }
    .home-container{
        height: 100vh;
        justify-items: center;
    }
    .service-container{
        margin-top: var(--mb-6);
        display: inline-block;
    }
}
@media screen and (min-width:1000px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }
    .home-img{
        width: 1000px;
    }
    .about-container,.services-container{
        column-gap: 7rem;
    }
    .nav{
        height: 50px;
    }
}